/* CSS code in styles.css */

.top-bar {
    background-color: #007bff; /* Blue color */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.record-button {
    width: 80px; /* Reduced width */
    height: 80px; /* Reduced height */
    border-radius: 50%;
    background-color: #007bff; /* Blue color */
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
}

.record-button:active {
    background-color: orange; /* Orange color while holding */
}

#languageSelect {
    margin-top: 10px;
}

.output-container {
    position: relative;
}

#output {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
}

#copyButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}

.how-to-use {
    text-align: center;
    margin-top: 50px;
}

.how-to-use h2 {
    color: #007bff; /* Blue color */
}

.how-to-use p {
    max-width: 600px;
    margin: 20px auto; /* Added margin between sentences */
    line-height: 1.5;
}

.about {
    text-align: center;
    margin-top: 50px;
}

.about h2 {
    color: #007bff; /* Blue color */
}

.about p {
    max-width: 600px;
    margin: 20px auto; /* Added margin between sentences */
    line-height: 1.5;
}

.extra-bottom-bar {
    background-color: #007bff; /* Blue color */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
